[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/yaw/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
  credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset - %C(cyan)%an%Creset' --abbrev-commit --date=relative
  b = "branch -v"
  m = merge --no-ff
  s = status -sb
  d = diff
  patch = add -p
  ouch = commit --amend --no-edit
  st = stash --include-untracked
  unst = stash pop
  hero = push origin master
	t = tag
	remotes = remote --verbose
	go = checkout -B
	ca = !git add -A && git commit -avS
	branches = branch -av
  fc = "!f() { git log --graph --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
  fm = "!f() { git log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset - %C(cyan)%an%Creset' --abbrev-commit --date=relative --grep=$1; }; f"
  today = !git log --pretty=format:'%C(yellow)%h%Creset %s %Cgreen(%cr)%Creset' --author=\"$(git config user.name)\" --since=midnight --date=relative --abbrev-commit
  can-i-leave = !git log --pretty=format:'%C(yellow)%h%Creset %s %Cgreen(%cr)%Creset' --author=\"$(git config user.name)\" --since=midnight --date=relative --abbrev-commit
  yesterday = !git log --pretty=format:'%C(yellow)%h%Creset %s %Cgreen(%cr)%Creset' --author=\"$(git config user.name)\" --since=1.day.ago --before=midnight --date=relative --abbrev-commit
  week = !git log --pretty=format:'%C(yellow)%h%Creset %s %Cgreen(%cr)%Creset' --author=\"$(git config user.name)\" --since=1.week.ago --date=relative --abbrev-commit
  year = !git log --pretty=format:'%C(yellow)%h%Creset %s %Cgreen(%cr)%Creset' --author=\"$(git config user.name)\" --since=1.year.ago --date=relative --abbrev-commit
	c = commit -vS
	co = checkout
	r = !/usr/local/bin/git-rbs
	forget = checkout -f
	unstage = reset HEAD
	stashed = stash list
	db = branch -D
  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'

[core]
	editor = vim
	trustctime = false
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
	pager = delta
[color]
	ui = true
[help]
	autocorrect = 1
[push]
	default = upstream
	autoSetupRemote = true
[merge]
	log = true
  conflictstyle = diff3

[apply]
	; whitespace = fixed
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = Yaw Boakye at Zebo
	email = yaw@zebo.dev
	signingKey = 9E0DE1B6BC3F31D3
[github]
	user = yaw-zebo
[diff]
	colorMoved = zebra
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[gpg]
	program = gpg
[commit]
	gpgSign = true
	template = /Users/yaw/.stCommitMsg

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations side-by-side line-numbers
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
  navigate = true

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[pull]
	rebase = true
[diff "exif"]
	textconv = exiftool
[init]
	defaultBranch = master
[url "git@github.com:"]
	insteadOf = https://github.com/
